@model IEnumerable<BusinessLogic.DTO.UserDTO>
@{
	var pagingModel = new BusinessLogic.DTO.PageHelper()
			{
				pageCurrent = ViewBag.currentPage,
				totalPages = ViewBag.TotalPage,
				url = $"Admin?page="
			};
}

@if (ViewBag.currentUser.Role == 1)
{
	<div style="display: flex; justify-content: space-between;">
		<h2>Recycle bin</h2>

		<a href="../Admin">
			<button style="height: 45px;">
				Manager user
			</button>
		</a>
	</div>
	<table class="table">
		<thead>
			<tr>
				<th>
					Id
				</th>
				<th>
					Name
				</th>
				<th>
					Username
				</th>
				<th>
					Dob
				</th>
				<th>
					Role
				</th>

				<th></th>
			</tr>
		</thead>
		<tbody>
			@if (Model != null && Model.Count() > 0)
			{
				foreach (var item in Model)
				{
					<tr>
						<th>
							@item.Id
						</th>
						<th>
							@item.Name
						</th>
						<th>
							@item.Username
						</th>
						<th>
							@item.Dob
						</th>
						@if (@item.Role == 1)
						{
							<th>
								Admin
							</th>
						}
						else if (@item.Role == 2)
						{
							<th>
								User
							</th>
						}
						else if (@item.Role == 3)
						{
							<th>
								Writer
							</th>
						}
						else if (@item.Role == 4)
						{
							<th>
								Reviewer
							</th>
						}

						<th>
							<a href="@Url.Action("Restore", "Admin", new { id = @item.Id})">Restore</a>
						</th>
					</tr>

				}
			}
		</tbody>

	</table>
	<partial name="_Paging" model="@pagingModel" />
}
<style>
	.page-link.active {
		background-color: aquamarine;
	}
</style>
